<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="afzx.ahmad">
        <title>Inventory List</title>
        <link rel="icon" href="/image/Logo.jpg">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="main">
                <div class="left_side">
                    <div class="title_app">
                        <h1>INVENTORY</h1>
                        <h2>LIST APP</h2>

                    </div>

                    <div class="desc">
                        <p>
                            Aplikasi ini berguna untuk<br>
                            mempermudah anda dalam mencatat<br>
                            nama barang dan jumlah barang.<br>
                            Dengan mudah dan cepat
                        </p>

                    </div>

                </div>

                <div class="right_side">
                    <img src="/image/Logo.jpg" alt="Logo" width="251px">
                    <a href="/list">Lihat Daftar</a>

                </div>

            </div>
        </div>
    </body>
</html>