<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="afzx.ahmad">
        <title>Inventory List</title>
        <link rel="icon" href="/image/Logo.jpg">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="stylesheets/fontawesome/css/all.min.css">
    </head>
    <body id="list_page">
        <header>
            <div class="container">
                <a href="/"><img src="/image/Logo.jpg" alt="Logo" width="52px"></a>
                <h2><a href="/">INVENTORY</a></h2>
            </div>

        </header>
        
        <div class="container">
            <div class="main">
                <a href="/add">Tambahkan</a>

                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nama</th>
                            <th>Jumlah</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% items.forEach((item) => {%>
                        <tr>
                            <td><%= item.id %></td>
                            <td><%= item.name %></td>
                            <td><%= item.amount %></td>
                            <td id="action_column">
                                <a href="#"><i class="far fa-edit"></i>Edit</a>
                                <a href="#"><i class="far fa-trash-alt"></i>Hapus</a>
                            <td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>