@media screen and (max-width: 1000px) {
    :root {
        font-size: 14px !important;
    }

    .container {
        padding: 0 75px !important;
    }
}

@media screen and (max-width: 768px) {
    :root {
        font-size: 12px !important;
    }

    .container {
        padding: 15px 65px 0 !important;
    }

    #list_page .container, #add_page .container {
        padding: 0 65px 0 !important;
    }

    .main {
        flex-wrap: wrap !important;
    }

    .main .left_side {
        text-align: center;
        width: 100% !important;
    }
    
    .main .right_side {
        text-align: center;
        width: 100% !important;
        height: 40%;
    }

    .main .left_side .desc {
        border-left: none !important;
        border-top: 2px solid white !important;
        padding-top: 2rem;
    }

}

@media screen and (max-width: 400px){
    :root {
        font-size: 12px !important;
    }
    .container {
        padding: 15px 30px 0 !important;
    }

    .main .right_side img {
        width: 125px !important;
    }

    .main .right_side a {
        width: 130px !important;
        padding: 10px 0 !important;
    }

    header {
        text-align: center !important;
    }

    header img {
        padding-top: 0 !important;
        width: 30px !important;
    }

    header h2 {
        display: block !important;
        margin: 0 auto !important;
        left: 0;
        right: 0;
    }

    #list_page .container, #add_page .container {
        width: 100%;
        padding: 10px 30px 0 !important;
    }

    #list_page .main, #add_page .main {
        padding-top: 30px !important;
    }

    #add_page .main form .button_wrap {
        text-align: center;
    }
    
    #add_page .main form .button_wrap a {
        display: block !important;
        width: 100% !important;
        margin-right: 0 !important;
        padding: 0.4rem 1rem !important;
    } 

    #add_page .main form .button_wrap input#create_button {
        display: block !important;
        width: 100% !important;
        margin-right: 0 !important;
        margin-top: 1.5rem !important;
        margin-bottom: 0.8rem !important;
        padding: 0.2rem 1rem !important;
    }

    #add_page .main h3 {
        text-align: center;
    }

}